.dropDownElements{
    color: var(--bs-light);
    background-color: var(--bs-dark);
}

#center-form{
    margin-left: 37.5%
}

.cardPad{
    padding: 10px 10px 10px 10px;
}

.back{
    background-color: var(--bs-dark);
}